* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.login-container h1 {
  color: #03a86c;
  font-size: 7vw;
  margin-bottom: 35px;
}

.login-container {
  align-items: center;
  border: 4px solid #29292e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  padding: 2vw;
}

.login-input {
  border: 1px solid #29292e;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 300;
  margin: 3vh;
  padding: 15px;
  width: calc(130px + 30vw);
}

.login-container button {
  background-color: #73c585;
  border: 1px solid #29292e;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin: 3vh;
  padding: 12px;
  transition: 0.2s ease-in-out;
  width: calc(130px + 30vw);
}

.login-container button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.login-container button:enabled:hover {
  background-color: #218738;
}
