header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 40px;
}

header h1 {
  color: #03a86c;
  font-size: 42px;
}

header .user-info {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  gap: 50px;
  grid-gap: 50px;
  justify-content: space-between;
}

.expenses-container {
  margin: 0 auto;
  padding: 20px 40px;
}

form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: calc(5px + 2vw);
}

@media screen and ( max-width : 470px ) {

  form {
    align-items: stretch;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: calc(5px + 2vw);
  }
}

.container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 2px;
  margin: 0 auto;
  text-indent: initial;
  vertical-align: middle;
  width: 100%;
}

table , thead , tbody {
  text-align: center;
}

table , th , td {
  border: 1px solid rgba(41, 41, 46, 0.4);
  padding: 0.5vw;
}

th {
  background-color: #03a86c;
  color: white;
}

tr:nth-child( even ) {
  background-color: #73c585;
}

td:last-child {
  border: inherit;
  display: flex;
  justify-content: space-around;
}

.edit-btn {
  background-color: lightblue;
  font-size: x-large;
}

.delete-btn {
  background-color: coral;
  font-size: x-large;
}
